body {
    background-color: #2c3034;
    color: white;
}

.articles {
    font-size: 24px;
}

.article-title {
    text-align: center;
    font-size: 48px;
}

.article-body {
    font-size: 24px;
    padding: 0 15%;
    text-align: left;
}

.a-left {
    text-align: left;
}

.a-right {
    text-align: right;
}

.hidden {
    display: none;
}

.main-header {
    background-color: #1f1f1f;
    font-size: 24px;
    color: white;
}

.pad {
    padding-top: 1%;
}

.show-pointer {
    cursor: pointer;
}

