body {
    background-color: #2c3034;
    color: white;
}

.articles {
    text-align: center;
}

.a-left {
    text-align: left;
}

.a-right {
    text-align: right;
}

.hidden {
    display: none;
}

.main-header {
    background-color: #1f1f1f;
    font-size: 24px;
    color: white;
}

.pad {
    padding-top: 1%;
}

.showPointer {
    cursor: pointer;
}

